#root {
  margin: 0 auto;
  text-align: center;
}

.form-student {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 90vw;
  align-items: center;
}

.form-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}
