.checklist-square {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6b752f; /* verde-oliva */
  padding: 12px 16px;
  border-radius: 12px;
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.checklist-square input {
  display: none;
}

.checklist-square .checkmark-square {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  background-color: white;
  border-radius: 8px; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 22px;
  font-weight: bold;
}

.checklist-square input:checked + .checkmark-square::after {
  content: "X";
}

.checklist-square input:checked + .checkmark-square {
  background-color: white;
}

.checklist-square .label-text {
  flex: 1;
  padding-left: 10px;
}
